body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #20b2aa;
    color: white;
}

h1{
    text-align: center;
background-color: azure;
color:green;
}

h2{
    text-align: center;
    background-color:silver;
    color:green;
}

.center{
    display: inline-block;
}